.container {
    max-width: 700px;
    margin: 0 auto;
    background: lightblue;
    text-align: center;
    h1 {
        width: 100%;
        text-align: center;
        color: green;
    }
}
.layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    text-align: center;
    img {
        max-width: 200px;
    }
}