<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
</head>
<body>

    <div class="container">

        <div class="logo"><img src="assets/images/handlebars-logo.png" alt="logo"></div>
        
        {{> components/slider/slider parameter="monry" }}

        <div class="layout">
            {{> components/card/card  parameter="title number #1"}}
            
            {{> components/card/card parameter="title number #2"}}
        </div>

        {{> components/cta/cta }}

        <div class="patito" data-action="patito">
            <p>example component</p>
        </div>

    </div>

</body>
</html>